@font-face{
    font-family: pixels;
    src: url('orangeKid.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
}


html{
    font-family: 'pixels', sans-serif;
    font-size: 16px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
  }

  .instructionsContainer{
    color: #a2f10b;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
    text-align: center;
    list-style: none;
    position: relative;
    clear: none;
    bottom: 4rem;
}

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .instructionsContainer{
      font-size: 1.5rem;
  }
  }

  @media only screen and (min-width: 1025px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .instructionsContainer{
      color: #a2f10b;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
      text-align: center;
      list-style: none;
      position: relative;
      clear: none;
      bottom: 19rem;
      left: -22rem;
      font-size: 1.5rem;
  }

  [id*="button"] {
    display: none;
  }

  .controllerContainer img{
    display: none;
  }

  }

  /*  <---------- Heading ---------->*/

  .headingContainer{
    background-color: #252627;
  }

  .mainHeading{
      color: #a2f10b;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
      text-align: center;
  }

  

  /* .instructionsContainer{
      padding: 0;
  } */

 
.hidden{
    display: none;
}


  /* Dropdown Button */
.dropbtn {
    font-family: 'pixels', sans-serif;
    position: relative;
    left: 5rem;
    bottom: 12rem;
    background-color: rgba(0,0,0,0.7);
    color: white;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
    padding: 16px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.7);
    outline: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    text-align: center;
    left: 4.7rem;
    bottom: 6.15rem;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    min-width: 10rem;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgba(0,0,0,0.5)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.canvasContainer{
    max-height: 320px;
    padding: 0 10px 0 10px;
    position: relative;
}

  .canvas{
      border: 1px solid white;
      position: relative;
      /* background-color: #252627; */
      clear: none;
      background-color: #186f1d;
      background-image: -webkit-gradient(45deg, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
      background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
      background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
      background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      background-size: 40px 40px;
  }

  .highScore{
      position: relative;
      margin-left: 10rem;
      /* left: 55%; */
      bottom: -2.3rem;
      color: #a2f10b;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
      clear: none;
      padding: 0;
  }

  .score{
      position: relative;
      margin-left: 1rem;
      padding: 0;
      color: #a2f10b;
      text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
      -webkit-font-smoothing: antialiased;
      clear: none;
  }

  #mainContainer{
      max-width: 320px;
      margin: 0 auto;
  }
  
  #buttonUp{
    background-color: transparent;
    position: relative;
    left: 8.5rem;
    bottom: 9.5rem;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 10;
    border: none;
  }

  #buttonRight{
    background-color: transparent;
    position: relative;
    left: 9.6rem;
    bottom: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 10;
    border: none;
  }

  #buttonDown{
    background-color: transparent;
    position: relative;
    left: 1.1rem;
    bottom: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 10;
    border: none;
  }

  #buttonLeft{
    background-color: transparent;
    position: relative;
    left: -7.3rem;
    bottom: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 10;
    border: none;
  }

  .controllerContainer img{
    left: 10rem;
    margin-left: 3rem;
    height: 10rem;
    width: 15rem;
  }

  .mainHeading img:nth-child(1){
    position: relative;
    bottom: -0.3rem;
    width: 57px;
    height: 33px;
  }

  .mainHeading img:nth-child(2){
    height: 25px;
    width: 30px;
    bottom: 0;
  }
  
  #instructions{
    list-style: none;
  }